{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: url("https://t4.ftcdn.net/jpg/02/86/36/11/360_F_286361199_fzZsOpZ3memFzCn889a9TZHMuTTsFrVl.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid  rgb(0, 20, 50);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px black;

    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}



.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight:600 ;
}


</style>
    <title>Add New</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<body>
<form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wrapper">
            <h1>Add New</h1>
            {{form|crispy}}
            <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>
</body>
{% endblock content%}
