{% load static %}
{% block heading %}
 <link rel="stylesheet" href="{% static 'shop/shopping.css' %}">
 <link rel="stylesheet" href="{% static 'shop/style.css' %}">
<script src="{% static 'shop/shopping.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

{% endblock heading %}
{% block content%}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <img style="width:130px;height:100px;" src="https://static.vecteezy.com/system/resources/previews/020/401/223/original/efd-letter-logo-design-on-white-background-efd-creative-circle-letter-logo-concept-efd-letter-design-vector.jpg" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop_box' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"><path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/></svg></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/></svg></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/></svg></a>
        </li>
      </ul>
      <form action="{% url 'search' %}" method="GET">
                  {% csrf_token %}
        <input class="search" style="height:36px;width:400px;text-align:center;margin:20px 14px;margin-left:300px;border-radius:8px;" type="text" name="q" placeholder="Xaridingizni Turini Yozing">
  <button class="btn btn-success"  style="height:40px;width:110px;margin-bottom:5px;" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    <div class="d-flex justify-content-center align-items-center mt-5"><button class="btn btn-dark">OUR CATEGORIES</button>
    </div>

    <div class="row mt-2 g-4">
        <div class="col-md-3">
            <div class="card p-1">
                <a href="{% url 'phone' %}" style="text-decoration:none;" class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Mobile</span> <span>Phones</span> </div>
                    <div><img src="https://i.imgur.com/b9zkoz0.jpg" height="100" width="100"/></div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <a href="{% url 'head' %}" style="text-decoration:none;" class="d-flex justify-content-between align-items-center p-2">
                    <div style="text-decoration:none;" class="flex-column lh-1 imagename"><span>Head</span> Phones</div>
                    <div> <img src="https://i.imgur.com/SHWASPG.png" height="100" width="100" /> </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <a href="{% url 'watch' %}" style="text-decoration:none;"  class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Smart</span> <span>Watches</span> </div>
                    <div> <img src=" https://i.imgur.com/Ya0OXCv.png" height="100" width="100" /> </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2">
                <a href="{% url 'animals' %}" style="text-decoration:none;"  class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>All</span> <span>Animals</span> </div>
                    <div> <img src="https://nukadeti.ru/content/images/static/colorcat200x200/38_2096.jpg" height="100" width="100" /> </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-2tr5">
                <a href="{% url 'car' %}" style="text-decoration:none;"  class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Speed</span> <span>Cars</span> </div>
                    <div> <img src="https://www.freepngimg.com/thumb/lamborghini/162551-convertible-lamborghini-yellow-download-hd-thumb.png" height="100" width="100" /> </div>
                </a>
            </div>
        </div>
<!--        <div class="col-md-3">-->
<!--            <div class="card p-2">-->
<!--                <div class="d-flex justify-content-between align-items-center p-2">-->
<!--                    <div class="flex-column lh-1 imagename"> <span>Perfume</span> and <span>Cosmetics</span> </div>-->
<!--                    <div> <img src="https://freepngclipart.com/thumb/cosmetics/43149-parfume-dolce-de-parfumerie-perfume-toilette-gabbana-thumb.png" height="100" width="100" /> </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-md-3">
            <div class="card p-2">
                <a href="{% url 'house' %}" style="text-decoration:none;"  class="d-flex justify-content-between align-items-center p-2">
                    <div class="flex-column lh-1 imagename"> <span>Hi-Tech</span> <span>House</span> </div>
                    <div> <img src="https://images.satu.kz/152911558_w640_h640_tovary-dlya-doma.jpg" height="100" width="100" /> </div>
                </a>
            </div>
        </div>
<!--        <div class="col-md-3">-->
<!--            <div class="card p-2">-->
<!--                <div class="d-flex justify-content-between align-items-center p-2">-->
<!--                    <div class="flex-column lh-1 imagename"> <span>Laptops</span> </div>-->
<!--                    <div> <img src="https://i.imgur.com/6pK5oZl.jpg" height="100" width="100" /> </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<div class="all">
   {% for i in home_view %}
  <div class="product">
      <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
  <a href="/show/{{ i.id }}"><img src="{{ i.photo.url }}" alt="Product Image"></a>
      <hr>
  <h3 class="title">{{i.title}}</h3>
   <h6 class="cost" >{{ i.cost }}</h6>
   </div>
   {% endfor %}
</div>
<div class="all">
   {% for i in all_search|slice:":24" %}
   <div class="product">
         <a href="/show/{{ i.id }}"><img src="{{ i.photo.url }}" alt="Product Image"></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost|upper }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
   {% for i in animals_search|slice:":24" %}
   <div class="product" id="item">
        <a href="/show_animals/{{ i.id }}"><img src="https://get.wallhere.com/photo/5184x3456-px-animals-grass-tigers-two-wallpapers-white-1904083.jpg" alt=""></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in car_search|slice:":24" %}
   <div class="product">
       <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
       <a href="/show_cars/{{ i.id }}"> <img src="https://blog.rwcarbon.com/wp-content/uploads/2018/08/rw-carbon-fiber-mercedes-w218-cls-63-amg-1-1024x768.jpg" alt=""></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in home_search|slice:":24" %}
   <div class="product">
       <a href="/show_home/{{ i.id }}"><img src="https://www.mojohomes.com.au/sites/default/files/styles/responsive_image_large/public/charisma-30-homeworld-thornton-facade-web-1500x966px.jpg?itok=NIqyWn3U" alt=""></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in head_search|slice:":24" %}
   <div class="product">
        <a href="/show_head/{{ i.id }}"><img src="https://i5.walmartimages.com/asr/7a24fd74-ae2f-4392-b541-2e02622cecce.03fb74c8cccd6421508f39ce5a41800b.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF" alt=""></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in other_search|slice:":24" %}
   <div class="product">
        <a href="/show_phone/{{ i.id }}"><img src="https://mycart.mu/cdn/shop/products/apple-iphone-14-mycart-mu-in-mauritius-1.jpg?height=645&pad_color=fff&v=1681886592&width=645" alt=""></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in vegas_search|slice:":24" %}
   <div class="product">
        <a href="/show_watch/{{ i.id }}"><img src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fhttps%253A%2Fupload.zoodmall.com%2Fweb%2Fproduct%2Fpicture%2F41%2F13880841%2F162918351743110600652.png" alt=""></a>
        <h3 class="title">{{i.title}}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
{% endblock content%}

