{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

 {% block heading %}
    <title>OLX.uz Design</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://static.vecteezy.com/system/resources/previews/020/401/223/original/efd-letter-logo-design-on-white-background-efd-creative-circle-letter-logo-concept-efd-letter-design-vector.jpg" type="image/x-icon">
<style>
    body{
      background-image: url("https://www.solidbackgrounds.com/images/3840x2160/3840x2160-light-sky-blue-solid-color-background.jpg");

    }
</style>
 {% endblock heading%}
{% block content %}

<style>


</style>

<div class="header">
  <img class="logo" src="https://static.vecteezy.com/system/resources/previews/020/401/223/original/efd-letter-logo-design-on-white-background-efd-creative-circle-letter-logo-concept-efd-letter-design-vector.jpg" alt="">
    <p><a href="{% url 'shop_box' %}" style="height:50px;width:90px;margin-top:18px;margin-right:8px;" class="btn btn-primary"><svg style="margin:6px;" xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg></a><a href="{% url 'profile' %}" style="height:50px;width:120px;margin-top:18px;" class="btn btn-warning rounded bi bi-person-fill"><svg style="margin-right:5px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
</svg>Profile</a>
{% if user.is_authenticated %}
    <a href="{% url 'add' %}" style="height:50px;width:120px;margin-top:18px;margin-left:5px;" class="btn btn-primary"><svg style="margin-right:5px;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>Add New</a></p>
{% endif %}
</div>
<div class="search_bar">
   <form action="{% url 'search' %}" method="GET">
        {% csrf_token %}
  <input class="search" style="height:40px;width:600px;text-align:center;margin:20px 14px;margin-left:300px;" type="text" name="q" placeholder="Xaridingizni Turini Yozing">
  <button class="btn btn-success"  style="height:40px;width:130px;margin-bottom:5px;" type="submit">Search</button>
</form>
</div>
<div class="selection-buttons">
  <a href="{% url 'vegas' %}" class="efd btn btn-white rounded-circle border-0"><img class="rounded-circle" src="/static/savat.jpg" alt="HTML5 Icon" style="width:120px;height:120px;"><b>Sabzavotlar</b></a>
  <a href="{% url 'car' %}" class="efd btn btn-white rounded-circle border-0"><img class="rounded-circle" src="/static/car.jpg" alt="HTML5 Icon" style="width:120px;height:120px;"><b>Avtomashinalar</b></a>
  <a href="{% url 'house' %}" class="efd btn btn-white rounded-circle border-0"><img class="rounded-circle" src="https://img.freepik.com/premium-photo/close-up-small-white-house-with-red-door-generative-ai_958078-3190.jpg" alt="HTML5 Icon" style="width:120px;height:120px;"><b>Ko'chmas Mulk</b></a>
  <a href="{% url 'animals' %}" class="efd btn btn-white rounded-circle border-0"><img class="rounded-circle" src="/static/pet.jpg" alt="HTML5 Icon" style="width:120px;height:120px;"><b>Hayvonot Olami</b></a>
  <a href="{% url 'job' %}" class="efd btn btn-white rounded-circle border-0"><img class="rounded-circle" src="/static/job.jpg" alt="HTML5 Icon" style="width:120px;height:120px;"><b>Kasblar</b></a>
  <a href="{% url 'other' %}" class="efd btn btn-white rounded-circle border-0"><img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKk1RmMNTy8C3iRTTuSTKeXZUEAKWLi_WnnVZE2xaYAJzu_aduJ5XiwxobMUkr4hs-5xU&usqp=CAU" alt="HTML5 Icon" style="width:120px;height:120px;"><b>Boshqalar</b></a>

</div>
<div class="all">
   {% for i in home_view %}
  <div class="product">
  <a href="/show/{{ i.id }}"><img src="{{ i.photo.url }}" alt="Product Image"></a>
      <hr>
  <h3 class="title">{{i.title}}</h3>
  <h3 class="map" >Categories: {{ task.categories }}</h3>
   <h6 class="map" >{{i.location}}-{{ i.date|date:"Y-m-d h:m"  }}</h6>
   <h6 class="cost" >{{ i.cost }}</h6>
   </div>
   {% endfor %}
</div>
<div class="all">
   {% for i in all_search|slice:":24" %}
   <div class="product">
         <a href="/show/{{ i.id }}"><img src="{{ i.photo.url }}" alt="Product Image"></a>
        <h3 class="title">{{i.title}}</h3>
        <h6 class="map">{{i.location}}-{{ i.date|date:"Y-m-d h:m"  }}</h6>
        <h3 class="title" >Phone Number: {{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3><p>
    </div>
   {% endfor %}
</div>
<div class="all">
   {% for i in animals_search|slice:":24" %}
   <div class="product">
        <img src="https://www.webbox.co.uk/wp-content/uploads/2020/10/angry_cat_2-scaled-1568x1046.jpg" alt="">
        <h3 class="title">{{i.title}}</h3>
        <h3 class="map" >Description: {{ i.description }}</h3>
        <h6 class="map">{{i.location}}</h6>
        <h3 class="title" >Phone Number: +{{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in car_search|slice:":24" %}
   <div class="product">
        <img src="https://cdn.jdpower.com/Average%20Weight%20Of%20A%20Car.jpg" alt="">
        <h3 class="title">{{i.title}}</h3>
        <h3 class="map" >Description: {{ i.description }}</h3>
        <h6 class="map">{{i.location}}</h6>
        <h3 class="title" >Phone Number: +{{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in home_search|slice:":24" %}
   <div class="product">
        <img src="https://www.mojohomes.com.au/sites/default/files/styles/responsive_image_large/public/charisma-30-homeworld-thornton-facade-web-1500x966px.jpg?itok=NIqyWn3U" alt="">
        <h3 class="title">{{i.title}}</h3>
        <h3 class="map" >Description: {{ i.description }}</h3>
        <h6 class="map">{{i.location}}</h6>
        <h3 class="title" >Phone Number: +{{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in job_search|slice:":24" %}
   <div class="product">
        <img src="https://www.searchenginejournal.com/wp-content/uploads/2017/06/shutterstock_268688447.jpg" alt="">
        <h3 class="title">{{i.title}}</h3>
        <h3 class="map" >Description: {{ i.description }}</h3>
        <h6 class="map">{{i.location}}</h6>
        <h3 class="title" >Phone Number: +{{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in other_search|slice:":24" %}
   <div class="product">
        <img src="https://tangentmaterials.com/wp-content/uploads/2019/11/Fresh-Produce-Pics-017-scaled.jpg" alt="">
        <h3 class="title">{{i.title}}</h3>
        <h3 class="map" >Description: {{ i.description }}</h3>
        <h6 class="map">{{i.location}}</h6>
        <h3 class="title" >Phone Number: +{{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
<div class="all">
       {% for i in vegas_search|slice:":24" %}
   <div class="product">
        <img src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-2foodgroups_vegetables_detailfeature.jpg?sfvrsn=226f1bc7_6" alt="">
        <h3 class="title">{{i.title}}</h3>
        <h3 class="map" >Description: {{ i.description }}</h3>
        <h6 class="map">{{i.location}}</h6>
        <h3 class="title" >Phone Number: +{{ i.number }}</h3>
        <h3 class="cost">{{ i.cost }}</h3>
    </div>
   {% endfor %}
</div>
{% endblock content%}
