{% extends "shop/base.html" %}
{% block content%}
  <div class="all">
   {% for i in task %}
  <div class="product">
      <img src="https://media.product.which.co.uk/prod/images/original/gm-01cda294-344a-4fd8-871d-f99540df8b2e-fruit-and-vegmain-1.jpeg" alt="">
  <h3 class="title">{{i.title|upper}}</h3>
   <h6 class="map">Color: {{i.description}}</h6>
  <h6 class="map">Phone Number: {{i.number}}</h6>
   <h6 class="map">Location: {{i.location}}</h6>
   <h6 class="cost">Cost: {{ i.cost }}</h6>
   </div>
   {% endfor %}
</div>

{% endblock content%}