{% extends "shop/base.html" %}
{% block content%}
  <div class="all">
   {% for i in task %}
  <div class="product">
      <img src="https://images2.zoodmall.uz/cdn-cgi/image/w=500,fit=contain,f=auto/https%3A%2F%2Fimages2.zoodmall.com%2Fhttps%253A%2Fupload.zoodmall.com%2Fweb%2Fproduct%2Fpicture%2F41%2F13880841%2F162918351743110600652.png" alt="">
  <h3 class="title">{{i.title|upper}}</h3>
   <h6 class="map">Color: {{i.description}}</h6>
  <h6 class="map">Phone Number: {{i.number}}</h6>
   <h6 class="map">Location: {{i.location}}</h6>
   <h6 class="cost">Cost: {{ i.cost }}</h6>
   </div>
   {% endfor %}
</div>

{% endblock content%}